USE [master]
GO
/****** Object:  Database [classmanagerdb]    Script Date: 1/29/2026 4:59:07 PM ******/
CREATE DATABASE [classmanagerdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'classmanagerdb', FILENAME = N'D:\TAT_CA_UNG_DUNG\SQL_SERVER\MSSQL17.SQLEXPRESS\MSSQL\DATA\classmanagerdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'classmanagerdb_log', FILENAME = N'D:\TAT_CA_UNG_DUNG\SQL_SERVER\MSSQL17.SQLEXPRESS\MSSQL\DATA\classmanagerdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [classmanagerdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [classmanagerdb]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/29/2026 4:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[age] [int] NOT NULL,
	[email] [varchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [age], [email], [gender], [name]) VALUES (N'4841bcf2-4192-4474-b751-00d2e6522452', 21, N'hong.cao@example.com', N'Nữ', N'Cao Thị Hồng')
INSERT [dbo].[students] ([id], [age], [email], [gender], [name]) VALUES (N'40ba4b41-8881-44bf-b120-04aa527d618c', 19, N'chau.ta@example.com', N'Nữ', N'Tạ Minh Châu')
INSERT [dbo].[students] ([id], [age], [email], [gender], [name]) VALUES (N'437dcef3-8b25-4fa5-846a-05ff3954f866', 19, N'trang.hoang@example.com', N'Nữ', N'Hoàng Thu Trang')
GO
USE [master]
GO
